boussole/boussoles/boussole.dtd

<!ENTITY % NAME "CDATA"> <!-- identificateur -->
<!ENTITY % URI "CDATA"> <!-- lien sur le Web -->
<!ENTITY % VNUM "CDATA"> <!-- 3 entiers naturels separes par un point: x.y.z -->
<!ENTITY % GROUP "(reference|aide|extension|decouverte|actualite)">

<!ELEMENT boussole groupe+>
<!ATTLIST boussole
	alias %NAME; #REQUIRED
	version %VNUM; #REQUIRED
>

<!ELEMENT groupe site+>
<!ATTLIST groupe
	type %GROUP; #REQUIRED
>

<!ELEMENT site>
<!ATTLIST site
	alias %NAME; #REQUIRED
	src %URI; #REQUIRED
>
